<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054509801709-6b617b2rnqkl62h42q5p1cifot96fmh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054509801709-6b617b2rnqkl62h42q5p1cifot96fmh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054509801709-qq5iebaf1sg45d6fldcql88mfbsd7pnv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB37aW3BoABerpcJK0uTP_9Lrq7PylyF0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1054509801709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.collegethriverapp</string>
	<key>PROJECT_ID</key>
	<string>college-thriver-app</string>
	<key>STORAGE_BUCKET</key>
	<string>college-thriver-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054509801709:ios:c39bc32ec7ac159fb4ece4</string>
</dict>
</plist>